<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/contact.css">
    <title>Document</title>
</head>

<body>
    <section class="menu-page">
        <div class="container">
            <header class="header__main-nav">
                <div>
                    <a href="index.html"> <img class="header__logo" src="img/logo.png" alt="logo" /></a>

                </div>
                <ul class="header__nav-bar">
                    <li>
                        <a class="header__link" href="index.html">HOME</a>
                    </li>
                    <li>
                        <a class="header__link" href="about-us">ABOUT US</a>
                    </li>
                    <li>
                        <a class="header__link" href="menu.html">MENUS</a>
                    </li>
                    <li>
                        <a class="header__link" href="events.html">EVENTS</a>
                    </li>
                    <li>
                        <a class="header__link" href="contact.html">CONTACT US</a>
                    </li>
                </ul>

                <!-- <div class="header__burger-btn" hidden>
                    <img class="open-burger-menu" src="img/burgerIcon.svg" alt="burger button">
                    <img class="close-burger-menu" src="img/closeIcon.svg" alt="close Icon" hidden>
                </div> -->
            </header>
            <div class="contacts">
                <h1 class="contact-title">Contact Us</h1>
                <h3 class="contact-secondTitle">Here you can find our contact information</h3>
                <div>
                    <div class="contacts-firstBlock">
                        <h2 class="block-title">RESERVATIONS</h2>
                        <p class="firstBlock-description">
                            Please contact us to book charity events, birthday parties, any events or simply to reserve
                            a
                            table for lunch or dinner.
                        </p>
                        <h2 class="block-title">We are open:</h2>
                        <p class="firstBlock-description">
                            MONDAY-FRIDAY 11:30am - 2:00am SATURDAY 12:00pm - 2:00am SUNDAY 10:00am - 2:00am
                        </p>
                    </div>

                    <div class="contacts-secondBlock">
                        <div>
                            <h2 class="block-title">Table Reservation</h2>
                      
                            <h5 class="contact__phone">
                                <img class="contact-icons" src="./img/phone-icon.png" alt="">
                                +703-502-8108
                            </h5>
                            <h5 class="contact__email">
                                <img class="contact-icons" src="./img/email-icon.png" alt="">
                                dining@theblueiguana.com
                            </h5>
                        </div>
                        <div>
                            <h2 class="block-title">Our location</h2>
                            <h5 class="contact__location">
                                <img class="contact-icons"  src="./img/location-icon.png" alt="">
                                12727 Shoppes Lane Fairfax, VA 22033
                            </h5>
                        </div>
                    </div>

                </div>


            </div>

        </div>
        <iframe class="map"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3037.0917748272095!2d-79.98236428460368!3d40.428966679363754!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xadac9193cb4e1e3b!2sFat%20Head&#39;s%20Saloon!5e0!3m2!1sru!2skg!4v1620983638217!5m2!1sru!2skg"
            width="100%" height="380" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </section>

    <footer class="footer-block">
        <img class="footer-logo" src="./img/footer-logo.png" alt="footer logo">
        <div class="container">
            <div class="footer__social-media">
                <div>
                    <a href=""><img class="soc-media" src="./img/facebook.png" alt=""></a>
                    <a href=""><img class="soc-media" src="./img/insta.png" alt=""></a>
                    <a href=""><img class="soc-media" src="./img/sova.png" alt=""></a>

                </div>
                <h3 class="footer__text">2021 © All Rights reserved The Blue Iguana</h3>
            </div>
        </div>

    </footer>

    <script src="./js/script.js"></script>
</body>

</html>