{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "css/events.css"%}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">
    <title>Events</title>
</head>

<body>
    <section class="main-page">
        <div class="container">
            <div class="header-wrapper">
                <header class="header">
                    <div>
                        <a href="index.html"> 
                            <img class="header__logo" src="{% static "img/logo.png"%}" alt="logo" />
                        </a>
                    </div>

                    <ul class="header__nav-bar">
                        <li>
                            <a class="header__link" href="{% url 'webapp:index' %}">HOME</a>
                        </li>
                        <li>
                            <a class="header__link" href="{% url 'webapp:index' %}#about-us">ABOUT US</a>
                        </li>
                        <li>
                            <a class="header__link" href="{% url 'webapp:menu' %}">MENUS</a>
                        </li>
                        <li>
                            <a class="header__link events" href="{% url 'webapp:event' %}">EVENTS</a>
                        </li>
                        <li>
                            <a class="header__link" href="{% url 'webapp:contact' %}">CONTACT US</a>
                        </li>
                    </ul>
                </header>
            </div>

            <div class="mobile-nav-bar">
                <div class="mobile-logo-wrapper">
                </div>

                <button class="burger-menu-show"></button>
                <button class="burger-menu-hide hide"></button>

                <nav class="burger-menu" id="burgerMenu">
                    <span class="pop-up-curtain"></span>
                    <ul class="burger-menu__wrapper">
                        <li class="burger-menu__item">
                            <a class="burger-menu__link" href="{% url 'webapp:index' %}">
                                HOME
                            </a>
                        </li>
                        <li class="burger-menu__item">
                            <a class="burger-menu__link" href="{% url 'webapp:index' %}#about-us">
                                ABOUT US
                            </a>
                        </li>
                        <li class="burger-menu__item">
                            <a class="burger-menu__link" href="{% url 'webapp:menu' %}">
                                MENUS
                            </a>
                        </li>
                        <li class="burger-menu__item">
                            <a class="burger-menu__link" href="{% url 'webapp:event' %}">
                                EVENTS
                            </a>
                        </li>
                        <li class="burger-menu__item">
                            <a class="burger-menu__link" href="contact.html">
                                CONTACT US
                            </a>
                        </li>

                    </ul>
                </nav>
            </div>
        </div>
    </section>
    <section class="menu-page">
        <div class="container">
            <div class="event">
                <h1 class="daily-title">Daily Events</h1>
                <div class="event-cards">
                    <button id="hideEventModal"></button>
                    <div class="dailyCard-wrapper">
                        <h3 class="dailyCard__days">Monday</h3>
                        <div class="dailyCard__grey">
                            <div class="event-modal-img-curtain">
                                <img class="dailyCard__img" src="../static/img/event-1.png" alt="">
                            </div>
                            <h3 class="dailyCard__title">MONDAY NIGHT POKER</h3>
                            <p class="dailyCard_discription">World Tavern Poker, America’s number 1 bar poker
                                league.Free! Every
                                Monday at 7pm & 9:00pm NFL Monday Night Football. Acustic music every other Monday</p>
                        </div>
                        <p class="dailyCard_whishes">Happy Hour Drinks All Day till 8 pm</p>
                    </div>
                    <div class="dailyCard-wrapper">
                        <h3 class="dailyCard__days">Monday</h3>
                        <div class="dailyCard__grey">
                            <div class="event-modal-img-curtain">
                                <img class="dailyCard__img" src="../static/img/event-1.png" alt="">
                            </div>
                            <h3 class="dailyCard__title">MONDAY NIGHT POKER</h3>
                            <p class="dailyCard_discription">World Tavern Poker, America’s number 1 bar poker
                                league.Free! Every
                                Monday at 7pm & 9:00pm NFL Monday Night Football. Acustic music every other Monday</p>
                        </div>
                        <p class="dailyCard_whishes">Happy Hour Drinks All Day till 8 pm</p>
                    </div>
                    <div class="dailyCard-wrapper">
                        <h3 class="dailyCard__days">Monday</h3>
                        <div class="dailyCard__grey">
                            <div class="event-modal-img-curtain">
                                <img class="dailyCard__img" src="../static/img/event-1.png" alt="">
                            </div>
                            <h3 class="dailyCard__title">MONDAY NIGHT POKER</h3>
                            <p class="dailyCard_discription">World Tavern Poker, America’s number 1 bar poker
                                league.Free! Every
                                league.Free! Every
                                league.Free! Every
                                league.Free! Every
                                league.Free! Every
                                league.Free! Every
                                league.Free! Every
                                league.Free! Every
                                league.Free! Every
                                league.Free! Every
                                league.Free! Every
                                league.Free! Every
                                league.Free! Every
                                league.Free! Every
                                league.Free! Every
                                Monday at 7pm & 9:00pm NFL Monday Night Football. Acustic music every other Monday</p>
                        </div>
                        <p class="dailyCard_whishes">Happy Hour Drinks All Day till 8 pm</p>
                    </div>
                    <div class="dailyCard-wrapper">
                        <h3 class="dailyCard__days">Monday</h3>
                        <div class="dailyCard__grey">
                            <div class="event-modal-img-curtain">
                                <img class="dailyCard__img" src="../static/img/event-1.png" alt="">
                            </div>
                            <h3 class="dailyCard__title">MONDAY NIGHT POKER</h3>
                            <p class="dailyCard_discription">World Tavern Poker, America’s number 1 bar poker
                                league.Free! Ever
                                Monday at 7pm & 9:00pm NFL Monday Night Football. Acustic music every other Monday</p>
                        </div>
                        <p class="dailyCard_whishes">Happy Hour Drinks All Day till 8 pm</p>
                    </div>
                    <div class="dailyCard-wrapper">
                        <h3 class="dailyCard__days">Monday</h3>
                        <div class="dailyCard__grey">
                            <div class="event-modal-img-curtain">
                                <img class="dailyCard__img" src="../static/img/event-1.png" alt="">
                            </div>
                            <h3 class="dailyCard__title">MONDAY NIGHT POKER</h3>
                            <p class="dailyCard_discription">World Tavern Poker, America’s number 1 bar poker
                                league.Free! Every
                                league.Free! Every
                                league.Free! Every
                                league.Free! Every
                                league.Free! Every
                                league.Free! Every
                                league.Free! Every
                                league.Free! Every
                                league.Free! Every
                                league.Free! Every
                                league.Free! Every
                                league.Free! Every
                                league.Free! Every
                                league.Free! Every
                                league.Free! Every
                                Monday at 7pm & 9:00pm NFL Monday Night Football. Acustic music every other Monday</p>
                        </div>
                        <p class="dailyCard_whishes">Happy Hour Drinks All Day till 8 pm</p>
                    </div>
                </div>

            </div>
            <div class="sport">
                <h1 class="sport-title">Sport Events</h1>
                <div class="sport-cards">
                    <div class="dailyCard-wrapper">
                        <div class="dailyCard__grey">
                            <div class="event-modal-img-curtain">
                                <img class="dailyCard__img" src="../static/img/event-1.png" alt="">
                            </div>
                            <h3 class="dailyCard__title">MONDAY NIGHT POKER</h3>
                            <p class="dailyCard_discription">World Tavern Poker, America’s number 1 bar poker
                                league.Free! Every
                                Monday at 7pm & 9:00pm NFL Monday Night Football. Acustic music every other Monday
                                Monday at 7pm & 9:00pm NFL Monday Night Football. Acustic music every other Monday
                                Monday at 7pm & 9:00pm NFL Monday Night Football. Acustic music every other Monday
                                Monday at 7pm & 9:00pm NFL Monday Night Football. Acustic music every other Monday
                                Monday at 7pm & 9:00pm NFL Monday Night Football. Acustic music every other Monday
                            </p>
                        </div>
                    </div>
                    <div class="dailyCard-wrapper">
                        <div class="dailyCard__grey">
                            <div class="event-modal-img-curtain">
                                <img class="dailyCard__img" src="../static/img/event-1.png" alt="">
                            </div>
                            <h3 class="dailyCard__title">MONDAY NIGHT POKER</h3>
                            <p class="dailyCard_discription">World Tavern Poker, America’s number 1 bar poker
                                league.Free! Every
                                Monday at 7pm & 9:00pm NFL Monday Night Football. Acustic music every other Monday</p>
                        </div>
                    </div>
                    <div class="dailyCard-wrapper">
                        <div class="dailyCard__grey">
                            <div class="event-modal-img-curtain">
                                <img class="dailyCard__img" src="../static/img/event-1.png" alt="">
                            </div>
                            <h3 class="dailyCard__title">MONDAY NIGHT POKER</h3>
                            <p class="dailyCard_discription">World Tavern Poker, America’s number 1 bar poker
                                league.Free! Every
                                Monday at 7pm & 9:00pm NFL Monday Night Football. Acustic music every other Monday</p>
                        </div>
                    </div>
                    <div class="dailyCard-wrapper">
                        <div class="dailyCard__grey">
                            <div class="event-modal-img-curtain">
                                <img class="dailyCard__img" src="../static/img/event-1.png" alt="">
                            </div>
                            <h3 class="dailyCard__title">MONDAY NIGHT POKER</h3>
                            <p class="dailyCard_discription">World Tavern Poker, America’s number 1 bar poker
                                league.Free! Every
                                Monday at 7pm & 9:00pm NFL Monday Night Football. Acustic music every other Monday</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer class="footer-block">
        <img class="footer-logo" src="{% static "img/footer-logo.png" %}" alt="footer logo">
        <div class="container">
            <div class="footer__social-media">
                <div>
                    <a href="https://www.facebook.com/BlueIguanaVA/"><img class="soc-media" src="{% static "img/facebook.png" %}" alt=""></a>
                    <a href="https://www.instagram.com/blueiguanafairfax/"><img class="soc-media" src="{% static "img/insta.png" %}" alt=""></a>
                    <a href="https://www.tripadvisor.com/Restaurant_Review-g57718-d465310-Reviews-Blue_Iguana-Fairfax_Virginia.html"><img class="soc-media" src="{% static "img/sova.png" %}" alt=""></a>
                </div>
                <h3 class="footer__text">2021 © All Rights reserved The Blue Iguana</h3>
            </div>
        </div>

    </footer>

    <script src="{% static "js/jquery-1.9.1.min.js" %}"></script>
    <script src="{% static "js/swiper-bundle.min.js" %}"></script>
    <script src="{% static "js/script.js" %}"></script>
</body>

</html>