<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/events.css">
    <title>Document</title>
</head>

<body>
    <section class="menu-page">
        <div class="container">
            <header class="header__main-nav">
                <div>
                    <a href="index.html"> <img class="header__logo" src="../static/img/logo.png" alt="logo" /></a>

                </div>
                <ul class="header__nav-bar">
                    <li>
                        <a class="header__link" href="index.html">HOME</a>
                    </li>
                    <li>
                        <a class="header__link" href="about-us">ABOUT US</a>
                    </li>
                    <li>
                        <a class="header__link" href="menu.html">MENUS</a>
                    </li>
                    <li>
                        <a class="header__link" href="events.html">EVENTS</a>
                    </li>
                    <li>
                        <a class="header__link" href="contact.html">CONTACT US</a>
                    </li>
                </ul>

                <!-- <div class="header__burger-btn" hidden>
                    <img class="open-burger-menu" src="img/burgerIcon.svg" alt="burger button">
                    <img class="close-burger-menu" src="img/closeIcon.svg" alt="close Icon" hidden>
                </div> -->
            </header>
            <div class="event">
                <h1 class="daily-title">Daily Events</h1>
                <div class="event-cards">
                    <div class="dailyCard-wrapper">
                        <h3 class="dailyCard__days">Monday</h3>
                        <div class="dailyCard__grey">
                            <img class="dailyCard__img" src="../static/img/event-1.png" alt="">
                            <h3 class="dailyCard__title">MONDAY NIGHT POKER</h3>
                            <p class="dailyCard_discription">World Tavern Poker, America’s number 1 bar poker
                                league.Free! Every
                                Monday at 7pm & 9:00pm NFL Monday Night Football. Acustic music every other Monday</p>
                        </div>
                        <p class="dailyCard_whishes">Happy Hour Drinks All Day till 8 pm</p>
                    </div>
                    <div class="dailyCard-wrapper">
                        <h3 class="dailyCard__days">Monday</h3>
                        <div class="dailyCard__grey">
                            <img class="dailyCard__img" src="../static/img/event-1.png" alt="">
                            <h3 class="dailyCard__title">MONDAY NIGHT POKER</h3>
                            <p class="dailyCard_discription">World Tavern Poker, America’s number 1 bar poker
                                league.Free! Every
                                Monday at 7pm & 9:00pm NFL Monday Night Football. Acustic music every other Monday</p>
                        </div>
                        <p class="dailyCard_whishes">Happy Hour Drinks All Day till 8 pm</p>
                    </div>
                    <div class="dailyCard-wrapper">
                        <h3 class="dailyCard__days">Monday</h3>
                        <div class="dailyCard__grey">
                            <img class="dailyCard__img" src="../static/img/event-1.png" alt="">
                            <h3 class="dailyCard__title">MONDAY NIGHT POKER</h3>
                            <p class="dailyCard_discription">World Tavern Poker, America’s number 1 bar poker
                                league.Free! Every
                                Monday at 7pm & 9:00pm NFL Monday Night Football. Acustic music every other Monday</p>
                        </div>
                        <p class="dailyCard_whishes">Happy Hour Drinks All Day till 8 pm</p>
                    </div>
                    <div class="dailyCard-wrapper">
                        <h3 class="dailyCard__days">Monday</h3>
                        <div class="dailyCard__grey">
                            <img class="dailyCard__img" src="../static/img/event-1.png" alt="">
                            <h3 class="dailyCard__title">MONDAY NIGHT POKER</h3>
                            <p class="dailyCard_discription">World Tavern Poker, America’s number 1 bar poker
                                league.Free! Every
                                Monday at 7pm & 9:00pm NFL Monday Night Football. Acustic music every other Monday</p>
                        </div>
                        <p class="dailyCard_whishes">Happy Hour Drinks All Day till 8 pm</p>
                    </div>
                    <div class="dailyCard-wrapper">
                        <h3 class="dailyCard__days">Monday</h3>
                        <div class="dailyCard__grey">
                            <img class="dailyCard__img" src="../static/img/event-1.png" alt="">
                            <h3 class="dailyCard__title">MONDAY NIGHT POKER</h3>
                            <p class="dailyCard_discription">World Tavern Poker, America’s number 1 bar poker
                                league.Free! Every
                                Monday at 7pm & 9:00pm NFL Monday Night Football. Acustic music every other Monday</p>
                        </div>
                        <p class="dailyCard_whishes">Happy Hour Drinks All Day till 8 pm</p>
                    </div>
                </div>

            </div>
            <div class="sport">
                <h1 class="sport-title">Sport Events</h1>
                <div class="sport-cards">
                    <div class="sportCard-wrapper">
                        <div class="sportCard__grey">
                            <img class="sportCard__img" src="../static/img/sport.png" alt="">
                            <h3 class="sportCard__title">MONDAY NIGHT POKER</h3>
                            <p class="sportCard_discription">World Tavern Poker, America’s number 1 bar poker
                                league.Free! Every
                                Monday at 7pm & 9:00pm NFL Monday Night Football. Acustic music every other Monday</p>
                        </div>
                    </div>
                    <div class="sportCard-wrapper">
                        <div class="sportCard__grey">
                            <img class="sportCard__img" src="../static/img/sport.png" alt="">
                            <h3 class="sportCard__title">MONDAY NIGHT POKER</h3>
                            <p class="sportCard_discription">World Tavern Poker, America’s number 1 bar poker
                                league.Free! Every
                                Monday at 7pm & 9:00pm NFL Monday Night Football. Acustic music every other Monday</p>
                        </div>
                    </div>
                    <div class="sportCard-wrapper">
                        <div class="sportCard__grey">
                            <img class="sportCard__img" src="../static/img/sport.png" alt="">
                            <h3 class="sportCard__title">MONDAY NIGHT POKER</h3>
                            <p class="sportCard_discription">World Tavern Poker, America’s number 1 bar poker
                                league.Free! Every
                                Monday at 7pm & 9:00pm NFL Monday Night Football. Acustic music every other Monday</p>
                        </div>
                    </div>
                    <div class="sportCard-wrapper">
                        <div class="sportCard__grey">
                            <img class="sportCard__img" src="../static/img/sport.png" alt="">
                            <h3 class="sportCard__title">MONDAY NIGHT POKER</h3>
                            <p class="sportCard_discription">World Tavern Poker, America’s number 1 bar poker
                                league.Free! Every
                                Monday at 7pm & 9:00pm NFL Monday Night Football. Acustic music every other Monday</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer class="footer-block">
        <img class="footer-logo" src="../static/img/footer-logo.png" alt="footer logo">
        <div class="container">
            <div class="footer__social-media">
                <div>
                    <a href=""><img class="soc-media" src="../static/img/facebook.png" alt=""></a>
                    <a href=""><img class="soc-media" src="../static/img/insta.png" alt=""></a>
                    <a href=""><img class="soc-media" src="../static/img/sova.png" alt=""></a>

                </div>
                <h3 class="footer__text">2021 © All Rights reserved The Blue Iguana</h3>
            </div>
        </div>

    </footer>

    <script src="../static/js/script.js"></script>
</body>

</html>