<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/menu.css">
    <title>Menu</title>
</head>

<body>
    <section class="menu-page">
        <div class="container">
            <header class="header__main-nav">
                <div>
                    <a href="index.html"> <img class="header__logo" src="../static/img/logo.png" alt="logo" /></a>

                </div>
                <ul class="header__nav-bar">
                    <li>
                        <a class="header__link" href="index.html">HOME</a>
                    </li>
                    <li>
                        <a class="header__link" href="#about-us">ABOUT US</a>
                    </li>
                    <li>
                        <a class="header__link" href="menu.html">MENUS</a>
                    </li>
                    <li>
                        <a class="header__link" href="events.html">EVENTS</a>
                    </li>
                    <li>
                        <a class="header__link" href="contact.html">CONTACT US</a>
                    </li>
                </ul>

                <!-- <div class="header__burger-btn" hidden>
                    <img class="open-burger-menu" src="img/burgerIcon.svg" alt="burger button">
                    <img class="close-burger-menu" src="img/closeIcon.svg" alt="close Icon" hidden>
                </div> -->
            </header>
        </div>
        <div class="menu-navbar">
            <div class="container-navbar">
                <ul class="menu__list-wrapper">
                    <li><a href="#" class="menu__link">APPETIZERS</a></li>
                    <li><a href="#" class="menu__link">SMALL PLATES</a></li>
                    <li><a href="#" class="menu__link">TATER TOT MENU</a></li>
                    <li><a href="#" class="menu__link">SALADS</a></li>
                    <li><a href="#" class="menu__link">SANDWICHES</a></li>
                    <li><a href="#" class="menu__link">ENTREES</a></li>
                    <li><a href="#" class="menu__link">DESSERTS</a></li>
                    <li><a href="#" class="menu__link">SIDES</a></li>
                </ul>
            </div>
        </div>
        <div class="menu-cards">
            <div class="container-menu">
                <div class="menu-card-wrapper">
                    <div class="menu__card">
                        <img class="menu__card-img" src="../static/img/burger.png" alt="">
                        <div class="menu__card-text">
                            <h3 class="menu__card-title">IMPOSSIBLE BURGER</h3>
                            <p class="menu__card-description">
                                plant-based patty topped with arugula, tomato, onion, and served on a brioche roll
                            </p>
                            <h3 class="menu__price">$14</h3>
                        </div>

                    </div>
                    <div class="menu__card">
                        <img class="menu__card-img" src="../static/img/burger.png" alt="">
                        <div class="menu__card-text">
                            <h3 class="menu__card-title">IMPOSSIBLE BURGER</h3>
                            <p class="menu__card-description">
                                plant-based patty topped with arugula, tomato, onion, and served on a brioche roll
                            </p>
                            <h3 class="menu__price">$14</h3>
                        </div>

                    </div>
                    <div class="menu__card">
                        <img class="menu__card-img" src="../static/img/burger.png" alt="">
                        <div class="menu__card-text">
                            <h3 class="menu__card-title">IMPOSSIBLE BURGER</h3>
                            <p class="menu__card-description">
                                plant-based patty topped with arugula, tomato, onion, and served on a brioche roll
                            </p>
                            <h3 class="menu__price">$14</h3>
                        </div>

                    </div>
                    <div class="menu__card">
                        <img class="menu__card-img" src="../static/img/burger.png" alt="">
                        <div class="menu__card-text">
                            <h3 class="menu__card-title">IMPOSSIBLE BURGER</h3>
                            <p class="menu__card-description">
                                plant-based patty topped with arugula, tomato, onion, and served on a brioche roll
                            </p>
                            <h3 class="menu__price">$14</h3>
                        </div>

                    </div>
                    <div class="menu__card">
                        <img class="menu__card-img" src="../static/img/burger.png" alt="">
                        <div class="menu__card-text">
                            <h3 class="menu__card-title">IMPOSSIBLE BURGER</h3>
                            <p class="menu__card-description">
                                plant-based patty topped with arugula, tomato, onion, and served on a brioche roll
                            </p>
                            <h3 class="menu__price">$14</h3>
                        </div>

                    </div>
                    <div class="menu__card">
                        <img class="menu__card-img" src="../static/img/burger.png" alt="">
                        <div class="menu__card-text">
                            <h3 class="menu__card-title">IMPOSSIBLE BURGER</h3>
                            <p class="menu__card-description">
                                plant-based patty topped with arugula, tomato, onion, and served on a brioche roll
                            </p>
                            <h3 class="menu__price">$14</h3>
                        </div>

                    </div>
                    <div class="menu__card">
                        <img class="menu__card-img" src="../static/img/burger.png" alt="">
                        <div class="menu__card-text">
                            <h3 class="menu__card-title">IMPOSSIBLE BURGER</h3>
                            <p class="menu__card-description">
                                plant-based patty topped with arugula, tomato, onion, and served on a brioche roll
                            </p>
                            <h3 class="menu__price">$14</h3>
                        </div>

                    </div>
                    <div class="menu__card">
                        <img class="menu__card-img" src="../static/img/burger.png" alt="">
                        <div class="menu__card-text">
                            <h3 class="menu__card-title">IMPOSSIBLE BURGER</h3>
                            <p class="menu__card-description">
                                plant-based patty topped with arugula, tomato, onion, and served on a brioche roll
                            </p>
                            <h3 class="menu__price">$14</h3>
                        </div>

                    </div>
                    <div class="menu__card">
                        <img class="menu__card-img" src="../static/img/burger.png" alt="">
                        <div class="menu__card-text">
                            <h3 class="menu__card-title">IMPOSSIBLE BURGER</h3>
                            <p class="menu__card-description">
                                plant-based patty topped with arugula, tomato, onion, and served on a brioche roll
                            </p>
                            <h3 class="menu__price">$14</h3>
                        </div>

                    </div>
                    <div class="menu__card">
                        <img class="menu__card-img" src="../static/img/burger.png" alt="">
                        <div class="menu__card-text">
                            <h3 class="menu__card-title">IMPOSSIBLE BURGER</h3>
                            <p class="menu__card-description">
                                plant-based patty topped with arugula, tomato, onion, and served on a brioche roll
                            </p>
                            <h3 class="menu__price">$14</h3>
                        </div>

                    </div>
                    <div class="menu__card">
                        <img class="menu__card-img" src="../static/img/burger.png" alt="">
                        <div class="menu__card-text">
                            <h3 class="menu__card-title">IMPOSSIBLE BURGER</h3>
                            <p class="menu__card-description">
                                plant-based patty topped with arugula, tomato, onion, and served on a brioche roll
                            </p>
                            <h3 class="menu__price">$14</h3>
                        </div>

                    </div>
                    <div class="menu__card">
                        <img class="menu__card-img" src="../static/img/burger.png" alt="">
                        <div class="menu__card-text">
                            <h3 class="menu__card-title">IMPOSSIBLE BURGER</h3>
                            <p class="menu__card-description">
                                plant-based patty topped with arugula, tomato, onion, and served on a brioche roll
                            </p>
                            <h3 class="menu__price">$14</h3>
                        </div>

                    </div>

                </div>

            </div>
        </div>
    </section>
    <footer class="footer-block">
        <img class="footer-logo" src="../static/img/footer-logo.png" alt="footer logo">
        <div class="container">
            <div class="footer__social-media">
                <div>
                    <a href=""><img class="soc-media" src="../static/img/facebook.png" alt=""></a>
                    <a href=""><img class="soc-media" src="../static/img/insta.png" alt=""></a>
                    <a href=""><img class="soc-media" src="../static/img/sova.png" alt=""></a>

                </div>
                <h3 class="footer__text">2021 © All Rights reserved The Blue Iguana</h3>
            </div>
        </div>

    </footer>

    <script src="../static/js/script.js"></script>
</body>

</html>