@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* li {
    list-style-type: none;
}

* a {
    text-decoration: none;
}

body {
    margin: 0;
    padding: 0;
}

button {
    cursor: pointer;
}

.container {
    max-width: 960px;
    margin: 0 auto;
}

@media screen and (max-width: 959px) {
    .container {
        padding: 0 30px;
    }
}

@media (max-width: 425px) {
    .container {
        padding: 0 20px;
    }

}

@media (max-width: 320px) {
    .container {
        margin: 0 auto;
    }

}

.container-navbar {
    max-width: 1100px;
    margin: 0 auto;
}

.menu-page {
    width: 100%;
}

/* HEADER */

.main-page {
    width: 100%;
  }
  
  .header-wrapper {
    width: 100%;
  }
  
  @media screen and (max-width: 940px) {
    .header-wrapper {
      display: none;
    }
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    max-width: 960px;
    padding-right: 330px;
    z-index: 1000;
    margin: 0 auto;
  }
  
  .header_fixed {
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
  }
  
  .header__logo {
    width: 40px;
  }
  
  @media screen and (max-width: 940px) {
    .header__logo {
      display: none;
    }
  }
  
  /* media header */
  
  .mobile-header__logo {
    width: 65px;
    margin: 0 20px;
  }
  
  .mobile-logo-wrapper {
    padding: 20px 0;
    display: none;
  }
  
  @media screen and (max-width: 940px) {
    .header__nav-bar {
      display: none;
    }
    .mobile-logo-wrapper {
      display: block;
      height: 70px;
    }
  }
  
  .burger-menu-show {
    width: 32px;
    height: 32px;
    border: none;
    outline: none;
    background-image: url(../img/burger-menu-blue.svg);
    position: fixed;
    right: 27px;
    top: 33px;
    background-color: transparent;
    transition: linear .5s;
    cursor: pointer;
    z-index: 1001;
  }
  
  @media screen and (min-width: 941px) {
    .burger-menu-show {
      display: none;
    }
  }
  
  .burger-menu-hide {
    width: 32px;
    height: 32px;
    border: none;
    outline: none;
    background-image: url(../img/burger-hide.png);
    background-size: contain;
    position: fixed;
    right: 27px;
    top: 33px;
    background-color: transparent;
    transition: linear .5s;
    cursor: pointer;
    z-index: 1001;
  }
  
  .burger-menu {
    width: 100%;
    position: fixed;
    height: 70vh;
    top: 0;
    right: -100%;
    z-index: 1000;
    transition: linear .2s;
  }
  
  .burger-menu .pop-up-curtain {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70vh;
    z-index: -1;
    background-color: #000;
    opacity: .5;
  }
  
  .burger-menu__wrapper {
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    font-size: 35px;
    line-height: 50px;  
    text-transform: uppercase;
    height: 70vh;
    width: 100%;
    background-color: transparent;
    padding-top: 70px;
  }
  
  .burger-menu__item {
    transition: linear .1s;
    text-align: center;
  }
  
  .burger-menu__link {
    color: #ffffff;
    padding: 19px;
    width: 320px;
  }
  
  .burger-menu__link:hover {
    color: #2C2586;
  }
  
  .burger-menu__login {
    padding: 10px;
    color: #ffffff;
  }
  
  .burger-menu__login .burger-login-btn {
    margin-top: 30px;
    padding: 15px 120px;
    background-color: #479ee1;
    opacity: .8;
    border-radius: 8px;
  }
  
  @media screen and (max-width: 940px) {
    .header {
      height: 142px;
    }
  }
  
  
  
  .header__nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 82%;
  }
  
  .header__link {
    /* padding: 27px 20px; */
    text-decoration: none;
    width: 69px;
    height: 28px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 28px;
    color: #2C2586;
    text-shadow: 0.5px 0.5px 0px #000000;
  }
  
  .header__link:active {
    border-bottom: solid 4px #2C2586;
  }
  
  .header__link:hover {
    border-bottom: solid 4px #2C2586;
  }

/* CONTACTS */

.contact-title {
    font-family: Roboto;
    font-weight: bold;
    font-size: 76px;
    line-height: 70px;
    color: #DCDCDC;
    text-align: center;
    margin-top: 30px;
}

@media screen and (max-width: 415px) {
    .contact-title {
        font-size: 57px;
    }
}

.contact-secondTitle {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
    color: #B0B0B0;
    text-align: center;
}

.contacts-firstBlock {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 50%;
}

.block-title {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 56px;
    color: #000000;
}

.firstBlock-description {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 28px;
    color: #474545;
}

.contacts-secondBlock {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-top: 30px;
}

@media screen and (max-width: 830px) {
    .contacts-firstBlock {
        margin-top: 20px;
        width: 100%;
    }

    .contacts-secondBlock {
        flex-direction: column;
        width: 100%;
    }
}

.contact__phone {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 28px;
    color: #474545;
    /* background-image: url('../img/phone-icon.png');
    background-repeat: no-repeat; */
    /* background-size: cover;
    background-position-x: center; */

}

.contact__email {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 28px;
    color: #474545;
}

.contact__location {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 28px;
    color: #474545;
}

.contact-icons {
    width: 21px;
}

.map {
    margin-top: 50px;
}

/* footer */
.footer-block {
    height: 300px;
    width: 100%;
    background-image: url('../img/footer-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    position: relative;
}

.footer-logo {
    position: absolute;
    left: 8%;
    top: 50%;
    transform: translateY(-50%);
    width: 116px;
}

@media (max-width: 425px) {
    .footer-logo {
        position: absolute;
        left: 37%;
        top: 31%;
        transform: translateY(-50%);
        width: 116px;
    }
  }
  
.footer__social-media {
    padding-top: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 425px) { 
    .footer__social-media {
        padding-top: 180px;
    }
}

.footer__text {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 28px;
    color: #FFFFFF;
    padding-top: 30px;
}

.soc-media {
    width: 40px;
}

.hide {
    display: none;
}

.contact {
    border-bottom: solid 4px #2C2586;
}